<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797164344777-bnvg4lk77ibb5gii1vtkgctc2cmcsicv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797164344777-bnvg4lk77ibb5gii1vtkgctc2cmcsicv</string>
	<key>API_KEY</key>
	<string>AIzaSyBx3KIK3PnL-klJkB-SHLacIH1jFeUYdLw</string>
	<key>GCM_SENDER_ID</key>
	<string>797164344777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.best.evenbetter</string>
	<key>PROJECT_ID</key>
	<string>evenbetter-ecb67</string>
	<key>STORAGE_BUCKET</key>
	<string>evenbetter-ecb67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797164344777:ios:bdce0ae1252ec284eb4418</string>
</dict>
</plist>